
.questionContainer {
  padding: 20px;
}

.closingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceRadio {
  padding: 0 0 10px 10px;
}

.clockIcon {
  position: relative;
}

.clockIcon:after {
  content: "\f017";
  font-family: FontAwesome;
  font-size: 40px;
}
