<div *ngIf="!showingDailyDouble" class="questionContainer">
  <p style="font-size: 20px">
    {{question}}
  </p>
  <div >
    <fieldset style="text-align: center">
      <label class="radio-inline spaceRadio" *ngFor="let team of teams">
        <input type="radio" name="teamRadioButton" (click)="selectedTeam(team)" > {{team.name}}
      </label>
    </fieldset>
  </div>
  <br>
  <div class="closingDiv">
    <button *ngIf="!showCountdown" mat-button class="clockIcon" (click)="startTimer()"></button>
    <br>
    <span *ngIf="showCountdown" style="font-size: 20px" (click)="resetTimer()">{{countdown}}</span>
  </div>
  <br>
  <div class="closingDiv">
    <button mat-button (click)="deductPoints()">deduct</button>
  </div>
  <div class="closingDiv">
    <button mat-button (click)="closeOverlay()">close</button>
  </div>
</div>

<img *ngIf="showingDailyDouble"  (click)="toggleDailyDouble()" id="dailyDoubleIcon"  height="700px" width="700px" src="../../assets/dailyDouble.png">
