p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: yellow;
}
.questionImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
}
.questionContainer {
  padding: 20px;
  font-size: 30px;
}

.closingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceRadio {
  padding: 0 0 10px 10px;
}

.clockIcon {
  position: relative;
}

.clockIcon:after {
  content: "\f017";
  font-family: FontAwesome;
  font-size: 40px;
}
