
.questionContainer {
  padding: 20px;
}

.closingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: relative;
  bottom: -330px;

}

.spaceRadio {
  padding: 0 0 10px 10px;
}
