#headerLabel {
  display: block;
  text-align:center;
  color: yellow;
}

.jeopardyBlue {
  background-color: #060CE9;
}

#scoreboard {
  padding-bottom: 30px;

}

.teamName {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

.teamScore {
  font-size: 20px;
  font-family: 'Rosario', sans-serif;
}
