@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Rosario');

body{
  background-color: #060CE9;
}

.card {
  background-color: #060CE9;
  border: black 5px solid;
  border-radius: 0px;
}

.card-body{
  color: #FFFF00;
  font-size: 25px;
  font-family: 'Rosario', sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
   background: #000;
   opacity: 0.85 !important;
 }
}

.jeo-panel-class {
  background-color: #060CE9;
  color: white;
  display: flex;
  justify-content: center;
}


