
@import "~bootstrap/dist/css/bootstrap.css";

body{
  background-color: #060CE9;
}

.card {
  background-color: #060CE9;
  border: black 5px solid;
  border-radius: 0px;
}

.card-body{
  color: #FFFF00;
}
